# Don't use config files from any parent directory in this project.
config.stopBubbling = true

# Android SDK does not have the @java.beans.ConstructorProperties annotation found in the full JDK,
# so prevent lombok from generating them. See http://projectlombok.org/setup/android.html
lombok.anyConstructor.suppressConstructorProperties = true
